.git
.github
.next
node_modules
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local
.env.development
.env.test
test_screenshots
scratch
e2e
tests
*.bat
*.md
.dependency-cruiser.cjs
vitest*
playwright.config.ts
